.input-area {
  background: #E4EAEE none repeat scroll 0% 0%;
padding: 6px;
overflow: hidden;
position: absolute;
left: 0px;
right: 30%;
bottom: 35px;
border-top: 1px solid #CFDAE1;
max-width : 100%;
}

 .input-wrapper {
	width :80%;
 }

.input-area .input-wrapper {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #CFDAE1;
    border-radius: 5px;
    overflow: hidden;
    float: left;
}

.input-area .input-wrapper input {
	text-align : left;
    height: 30px;
    line-height: 30px;
    border: 0px none;
    margin: 0px;
    padding: 0px 10px;
    outline: medium none;
    color: #5D7185;
	width : 100%;
}

.input-area .input-wrapper i {
    font-size: 18px;
    color: #A0B4C0;
    margin-right: 10px;
    margin-top: 8px;
    cursor: pointer;
}

.input-area > input {
    background: #6EC7F5 none repeat scroll 0% 0%;
    border: medium none;
    letter-spacing: 1px;
    font-weight: bold;
    color: #FFF;
    border-radius: 5px;
    float: right;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-family: "Open Sans",Arial,sans-serif;
    outline: medium none;
}

#chat_area {
	display : table;
	width : 100%;
	height : 100%;
}

#chat_area > div{
	height : 100%;
	width : 100%;
	display : table-cell;
}

#chat_area > div:nth-of-type(1) {
	border-right : 1px solid #D7DAD1;
	width : 70%;
}


#chat_area > div:nth-of-type(2) {
	width : 30%;
}


#message_area {
	padding-left : 15px;
	position: absolute;
	top : 35px;
left: 0px;
right: 30%;
}