* {
  box-sizing: border-box;
}



html {
	  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
color: #888;
line-height: 1.5;
font-size: 14px;

font-style: normal;
}

a {
	color : #888;
}

body {
	/*background: #F6F6F6 none repeat scroll 0% 0%;*/
	height:100%;
	width:100%;
	margin : 0px;
	padding-top : 50px;
}

#wrapper_contenu {
	margin : 0px;
	padding : 25px;
	background: white;
}

#login {

	float : left;
	max-height: 100%;
	max-width : 70%;
}


#login_form  , #inscription_form{

	padding : 15px;
	background-color : white;
	
}

.control-groupe {
	margin : 10px 0px;
}

form input , textarea , .btn{
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid #6ec7f5;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
	color : #888;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  cursor : pointer;

}

textarea {
	max-height : 50px;
	max-width : 100%;
}

.addevent input , .addevent textarea{
	text-align : left;
	margin : 0px;
}

input[type="submit"] , .btn{

	background-color : #6ec7f5;
	color : white;
}


.btn {
	float : left;
}

#login ul{
	list-style-type : none;
	float : left;
	padding-left : 10px;
}

#login ul li , #info ul li{
	display: inline-block;
	cursor : pointer;
	color : white;
	background-color : #6ec7f5 ;
	
	padding : 5px 10px;
}

#info {

	display : inline-block;
}

#info ul{
	margin-top : 0px;
	
}

#info ul li , #info form input{
	border-radius : initial;
	border-bottom-left-radius : 25%;
	border-bottom-right-radius : 25%;
}

#info ul li a {

	color : white;
	text-decoration : none;
}

#logout input {
	padding : 5px 10px;
}


#wrapper_header {
	position:fixed;
	width : 100%;
	height : 50px;
	top : 0px;
	background-color : white;
	z-index:2;
}

#wrapper_footer {
	font-size : 25px;
	font-weight : bold;
	bottom : 0px;
	width : 100%;
	height : 150px;
	
}

#footer > div {
	margin : 0px 10px;
}

.col_50 {

	float : left;
	width : 49%;
	height : 100%;
}



.clear {
		clear : both;
}

#menu {
	list-style-type : none;
	
	width : 30%;
	float : right;
}

#menu li {
	display : inline-block;
	
}

#menu li:nth-child(n+2) {
	
	padding-left : 15px;
	
}

#menu li a {
	color: #888;
	text-decoration : none;
	
}




.inner {	
	width : 1000px;
	margin : auto;
	height : 100%;
}


.description {
	display : none;
}

.description.active {
	display : block;
	font-weight : normal;
}

/*[fmt]0020-000A-3*/
.periods { padding : 10px 0px;}
.year{  color:#6ec7f5;  font-size:85px;}
.relative{  position:relative;}
.months{}
.month{  margin-top:50px;}
.months ul{  display:table; width:100%; list-style:none;  margin:0px;  padding:0px;}
.months ul li { display : table-cell;  }
.months ul li a{  /*float:left; */ margin:-1px; /* padding:0px 15px 0px 0px;*/  color:#888888;  text-decoration:none;  font-size:25px;  font-weight:bold;  text-transform:uppercase;}
.months ul li a:hover, .months ul li a.active{  color:#6ec7f5;}
table{  border-collapse:collapse;}
table td{  border:1px solid #A3A3A3;  width:80px;  height:80px;}
table td.today{  border:2px solid #6ec7f5;  width:80px;  height:80px;}
table td.padding{  border:none;}
table td:hover , table td.active{  background:#F5F5F5;  cursor:pointer;}
table th{  font-weight:normal;  color:#A8A8A8;}
table td .day{  position:absolute;  color:#8C8C8C;  bottom:-40px;  right:5px;  font-weight:bold;  font-size:15px;}

.addevent { display : none ; height:0px;}

.addevent.active{ display:block !important; height:auto; position:absolute;  left:580px;  top:65px; width:442px;  list-style:none;  margin:0px;  padding:11px 0px 0px;}

table td .events {  position:relative;  width:100%;  height:0px;  margin:-39px 0px 0px;  padding:0px;}

table td .events li{ list-style-type :none; width:10px;  height:10px;  float:left;  background:#6ec7f5;  /*+border-radius:10px;*/  -moz-border-radius:10px;  -webkit-border-radius:10px;  -khtml-border-radius:10px;  border-radius:10px 10px 10px 10px;  margin-left:6px;  text-indent:-3000px;}
table td .events.active { height:auto; position:absolute;  left:575px;  top:235px;  width:442px;  list-style:none;  margin:0px;  padding:11px 0px 0px;}
table td .events.active li {  padding : 10px 0px; height:100%;  font-weight:bold;  border-bottom:1px solid #6ec7f5;  padding-left:15px;  text-indent:0;  background:none;  width:300px;}
table td:hover .events li:first-child , table td .events.active li:first-child{  border-top:1px solid #6ec7f5;}



table td .daytitle{  display:none; position:absolute;  left:482px;  top:21px;  width:442px;  list-style:none;  margin:0px 0px 0px 100px;  padding:0px;  color:#6ec7f5;  font-size:21px;  display:block;  font-weight:bold;}
.clear{  clear:both;}


.events h3 {
	  display: inline-block;

  margin : 0px;
  margin-left: 25px;
}

.delete{   
	border : none;
  height: 25px;
  width: 25px;
  background-color: #e74c3c;
  cursor: pointer;
	border-radius : 50%;
	color : white;
	font-size : 14px;
}

.more{   
	border : none;
  height: 25px;
  width: 25px;
  background-color: green;

  margin-left : 2px;
  cursor: pointer;
	border-radius : 50%;
	color : white;
	font-size : 14px;
}


/* Important styles */
#toggle {
  display: none;
  width: 28px;
  height: 30px;
  margin: 25px auto 10px;
  margin-right : 5px;
  cursor : pointer;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #6EC7F5;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

#menu ul {
    padding-left: 0px;
}

#inscription_form {
		margin-left : 60px;
}

#logout {

	margin-left : 10px;
}	

#profile {
	width : 80%;
	margin : auto;
	display : table;
	margin-top : 50px;
}

#profile div {
	display : table-cell;
	padding : 0px 15px;
	vertical-align: top;
	
}

#profile  div:nth-of-type(1){
	width : 30%;
}

#profile  div:nth-of-type(2){
	width : 70%;
}

#profile div img {
	height: 100px;
width: 100px;
	border-radius : 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	cursor : pointer;
}

#profile_image {
	margin : 25px;

}

#background , #modalWindow{

	display : none;
}


.form_profile input{
	border : 0px;
	margin-left : 0px;
	text-align:left;
	
}




.form_profile input:focus{

	border : 1px solid #6EC7F5;

}

.liste_participants li a {

	text-decoration : none;
}



@media screen and (max-width: 1000px) {
	.inner {
		width : 100%;
		padding : 0px 15px;
	}
	

	
	table td .daytitle , .addevent.active , table td .events.active {
		left : 0px;
		width : 100%;
	}
	
	table td .events.active li { 
		width : 100%;
	}
	
	table td .daytitle {
		top : 450px;
		margin : 0px;
		margin-bottom : 50px;
	}
	
	.addevent.active {
		top : 500px;
	}
	
	 table td .events.active {
		top : 650px;
		padding-bottom : 25px;
	 }
	 
	.months ul li a {
		font-size : 15px;
	}
	

}


@media screen and (max-width: 800px) {
	#login {
	
		max-width:100%;
	}
	
	
	#profile {
	
		width : 100%;
	}
	
	#profile div {
	
		display : block;
		width : 100% !important;
	}
	
		.months ul li {
		display : inline-block;
		width : 32%;
		text-align : center;
	}
	
	.months ul li a {
		float : initial;
	}
	
	#toggle {
		display: block;
		float : right;
		position: fixed;
right: 0;
	}
	
	#menu{
		display : none;
	}
	
	#menu.active {
		display : block;
		background-color : white;
		position : absolute;
		top : 50px;
		right : 0px;
		width : 100%;
		border-top : 1px solid #6EC7F5;
	}
	
	#menu ul {

		margin : 0px;
	}
	
	#menu li {
		display : block;
		width : 100%;
		text-align : center;
		padding : 5px 5px;
	}
	
	#menu li:hover {
		background-color : #6EC7F5 ;
		
	}
	
	
	#menu li:hover a {
		background-color : #6EC7F5 ;
		color : white;
	}
	
	#inscription_form {
		margin-left : 60px;
	}
	

}



